body{
    background-color: #eee;
}
p{
    color:#222fff;
    text-align: center; /* left, right, center son los mas importantes; por defecto es left*/
    font-size: 20px;

    
}
.muchotexto{
    color:#ca422a;
    text-align: justify; /* para que los textos grandes queden mejor*/
    font-size: 15px;
    font-weight: bold;
    text-decoration: underline;
    text-indent: 20px; /* desplaza la primera linea a la derecha*/
    line-height: 2.5; /* interlineado */
    text-shadow: 5px 2px 5px rgb(110, 216, 136); /*cantidad desplazamiento derecha, cantidad desplazamiento abajo, grado de difuminado,  color*/
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-style: oblique;
    font-size: 20px; /*algunos utilizan em, que es la unidad del browser: 1.5em*/
}
a{
    text-decoration: none; /* le quitamos el subrayado, le quitamos la mierda que sobra*/
    text-transform: uppercase; /* mayus*/
    letter-spacing: 5px;

}